{
  "apiVersion": "v1",
  "kind": "PersistentVolume",
  "metadata": {
    "name": "jenkins"
  },
  "spec": {
    "capacity": {
        "storage": "10Gi"
     },
    "accessModes": [ "ReadWriteOnce","ReadWriteMany", "ReadOnlyMany" ],
    "nfs": {
        "path": "/mnt/jenkins",
        "server": "192.168.138.1"
    }    
    "persistentVolumeReclaimPolicy": "Reclaim"
  }
}
