{
  "apiVersion": "v1",
  "kind": "PersistentVolume",
  "metadata": {
    "name": "nexus"
  },
  "spec": {
    "capacity": {
        "storage": "{{ nexus_storage_size }}"
     },
    "accessModes": [ "ReadWriteOnce","ReadWriteMany", "ReadOnlyMany" ],
    "nfs": {
        "path": "/exports/nexus",
        "server": "ocp-tstb-nfs.hbs.net.au"
    }    
    "persistentVolumeReclaimPolicy": "Recycle"
  }
}
